/* Catppuccin Mocha Color Scheme */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: @surface0;
  margin-left: 2px;
}

#workspaces button {
  color: @text;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @lavender;
  border-radius: 5px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: @surface1;
  border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-bluetooth,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-uptime,
#custom-docker {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @sapphire;
  border-radius: 5px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @peach;
  border-radius: 5px 0px 0px 5px;
}

#custom-bluetooth {
  color: @blue;
}

#custom-docker {
  color: @sky;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: @red;
}

#custom-uptime {
  color: @flamingo;
}

#network {
  color: @teal;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @pink;
}

#tray {
  color: @text;
  border-radius: 5px;
  margin-right: 4px;
}

#custom-docker.docker {
  color: @sky;
}

#custom-docker.docker-none {
  color: @overlay1;
}

#custom-docker.docker-error {
  color: @red;
}
