* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-color: #b4befe;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 139px;
    margin-bottom: 139px;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#logout {
    background-image: url("/home/david/.config/wlogout/icons/logout.svg");
}

#hibernate {
    background-image: url("/home/david/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/david/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/david/.config/wlogout/icons/reboot.svg");
}
